/* /////////// TEXT AND LINK COLORS AND STYLES //////////// */

a {
    color: #b3996f !important;
    text-decoration: underline !important;
}


/* Cap first letter of each word all summary block titles */

.summary-title {
    text-transform: capitalize;
}

h1 a,
h2 a,
h3 a,
.date a,
.summary-title a,
.article-meta a,
#navigation-top a,
#mobile-navigation a,
#commenting a,
#prevLink i,
#nextLink i {
    color: #595959 !important;
    text-decoration: none !important;
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
.date a:hover,
.summary-title a:hover,
#navigation-top a:hover,
#mobile-navigation a:hover,
#commenting a .author:hover {
    text-decoration: underline !important;
}


/* /////////// CIRCULAR IMAGES //////////// */


/* Team List Images */

.sqs-col-5 img,

/* Writer Page Image */

.sqs-col-3 img,
.collection-layout-split-sidebars #sidebar-one-wrapper .thumb-image,
.collection-layout-split-sidebars #sidebar-one-wrapper .summary-thumbnail,
.collection-layout-split-sidebars .summary-thumbnail-image {
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
}


/* remove margin from bottom of logo banner image */

#banner-area #banner {
    margin-bottom: 0;
}


/* use theme color for social icon fill */

.social-icons-style-regular.social-icons-color-black .sqs-use--icon {
    fill: #D8D3CD;
}


/* add some custom spacing to the h3 elements in the sidebar */

body.underline-sidebar-h3 .vertical-navigation-bar h3 {
    margin-top: .9em !important;
}


/* Padding above first image block in post */

.post .sqs-block-image:first-child {
    padding-top: 0;
}


/* creats some space beneath a page header (currently used for podcast page banner) */

#page-body-header {
    margin-bottom: 15px;
}


/* comment button custom color */

.squarespace-comments .comment-btn,
.squarespace-comments .comment-btn:hover {
    background-color: #d8d3cd;
    color: #54585b;
}


/* /////////// SPLIT SIDEBAR STYLES (PODCAST) //////////// */

.collection-layout-split-sidebars .one-sidebar #sidebar-one-wrapper {
    margin-left: -180px;
    width: 180px;
}

.collection-layout-split-sidebars .one-sidebar #content-wrapper {
    border-right-width: 180px;
}

.collection-layout-split-sidebars #sidebar-two-blocks .summary-thumbnail-container {
    pointer-events: none !important;
}

.collection-layout-split-sidebars #page-body-wrapper .sqs-gallery-design-list .summary-item {
    margin-bottom: 40px !important;
}

.collection-layout-split-sidebars #page-body-footer .image-block-outer-wrapper .intrinsic {
    max-width: 200px !important;
}


/* /////////// SPLIT SIDEBAR TABLET & MOBILE STYLES //////////// */

@media only screen and (max-width: 768px) {
    .collection-layout-split-sidebars #sidebar-two-blocks .image-block-outer-wrapper .intrinsic {
        max-width: 250px !important;
    }
    .collection-layout-split-sidebars #sidebar-two-blocks a.summary-thumbnail-container {
        max-width: 250px;
        margin: auto;
        margin-bottom: 15px;
    }
    .collection-layout-split-sidebars #sidebar-two-blocks .summary-thumbnail-image {
        width: 250px;
    }
}


/* ///////////// CC SUMMARY BLOCK AND TEAM STYLES ////////////////// */

.cc-summary-block-item-list {
    margin-bottom: -7.5662%;
}


/* display spacer for team list */

.cc-team-list .sqs-layout .spacer-block {
    display: block;
}

.cc-author-title h3 {
    text-align: center;
}

.cc-button-link {
    display: block;
    width: 100%;
    text-align: center;
    background-color: #f2f2f2;
    border: solid 1px #f2f2f2;
    height: 26px;
    clear: both;
    padding-top: 7px;
    font-size: 16px;
    text-decoration: none !important;
}

.cc-button-link:hover {
    border: solid 1px #ccc;
    cursor: pointer;
}

#CCSummaryLoadMoreLink {
    margin-top: 15px;
    padding-top: 11px;
    height: 48px;
    box-sizing: border-box;
}

#load-more-left {
    float: left;
    margin-left: 25px;
}

#load-more-right {
    float: right;
    margin-right: 25px;
}


/*Hide the author link on the team member pages*/

.cc-summary-team .sqs-block-summary-v2 .summary-block-setting-secondary-metadata-author .summary-item-has-author .summary-metadata--secondary .summary-metadata-item--author {
    display: none;
}


/*Hide the category links on the category pages*/

.cc-summary-category .sqs-block-summary-v2 .summary-block-setting-secondary-metadata-author .summary-item-has-author .summary-metadata--secondary .summary-metadata-item--cats {
    display: none;
}

.cc-summary-cat-link {
    display: inline-block;
    margin-right: 4px;
}

.cc-summary-block.sqs-block-summary-v2 .summary-metadata-item--date:after {
    margin: 0 .1em !important;
}

.cc-team-member-social .facebook,
.cc-team-member-social .twitter,
.cc-team-member-social .instagram,
.cc-team-member-social .rss,
.cc-team-member-social .pinterest,
.cc-team-member-social .itunes {
    display: none;
}

.cc-team-member-social .facebook.facebook-true,
.cc-team-member-social .twitter.twitter-true,
.cc-team-member-social .instagram.instagram-true,
.cc-team-member-social .rss.rss-true,
.cc-team-member-social .pinterest.pinterest-true,
.cc-team-member-social .itunes.itunes-true {
    display: inline-block;
}

.cc-team-member .cc-essays-link,
.cc-essays-link.cc-author-false {
    display: none;
}

.cc-team-link {
    display: block;
    width: 43px;
    background: url(/assets/CoffeeCrumbs_Mark3_Low.png) 0px 0px no-repeat;
    background-size: contain;
    margin: 0 auto;
    padding: 6px 15px 5px 40px;
    text-align: center;
    font-size: 17.5px;
}


/* ///////////// CC SUMMARY BLOCK - MEDIA QUERIES ////////////////// */


/* Mobile First - Up to 547 Pixels */

.cc-summary-block .cc-summary-item {
    width: 100%;
    margin-bottom: 12.7932%;
    margin-right: 0px;
    clear: left;
}

.cc-summary-block .cc-summary-item .cc-summary-thumbnail.img-wrapper img {
    top: 0px;
    left: -29px;
    width: 527px;
    height: 352px;
    position: absolute;
    background: url(/assets/cc-loading.gif) 50% no-repeat;
}

.cc-summary-thumbnail.img-wrapper {
    overflow: hidden;
    padding-bottom: 70%;
}


/* Medium Size > 547 */

@media only screen and (min-width: 548px) {
    /* two images per row */
    .cc-summary-block .cc-summary-item {
        width: 45%;
        margin-bottom: 10%;
        margin-right: 10%;
        clear: none;
    }
    .cc-summary-item:nth-child(odd) {
        clear: left;
    }
    .cc-summary-item:nth-child(even) {
        margin-right: 0px;
    }
    .cc-summary-block .cc-summary-item .cc-summary-thumbnail.img-wrapper img {
        top: 0px;
        left: -13px;
        width: 276px;
        height: 185px;
        position: absolute;
    }
}

@media only screen and (min-width: 641px) {
    .cc-team-list .sqs-svg-icon--list.social-icon-alignment-center,
    .cc-team-member .sqs-svg-icon--list.social-icon-alignment-center,
    {
        text-align: left !important;
        /* override center align and left align the social links above mobile */
    }
    .cc-author-title h3 {
        text-align: left;
    }
}


/* 641px -> 768px */

@media only screen and (min-width: 641px) and (max-width: 768px) {
    /* two images per row */
    .cc-summary-block .cc-summary-item {
        width: 47%;
        margin-bottom: 6%;
        margin-right: 6%;
        clear: none;
    }
    .cc-summary-item:nth-child(odd) {
        clear: left;
    }
    .cc-summary-item:nth-child(even) {
        margin-right: 0px;
    }
    .cc-summary-block .cc-summary-item .cc-summary-thumbnail.img-wrapper img {
        top: 0px;
        left: -13px;
        width: 352px;
        height: 238px;
        position: absolute;
    }
}


/* Desktop > 893 */

@media only screen and (min-width: 893px) {
    /* two images per row */
    .cc-summary-block .cc-summary-item {
        width: 28.2892%;
        margin-bottom: 7.5662%;
        margin-right: 7.5662%;
        clear: none;
    }
    .cc-summary-item:nth-child(3n) {
        /* 3,6,9,12 */
        margin-right: 0px;
    }
    .cc-summary-item:nth-child(3n+1) {
        /* 1,4,7,10... */
        clear: left;
    }
    .cc-summary-block .cc-summary-item .cc-summary-thumbnail.img-wrapper img {
        top: 0px;
        left: -13px;
        width: 252px;
        height: 168px;
        position: absolute;
    }
}


/* don't hide the paging links for mobile on team and category pages */

.content-wrapper.cc-summary-category .pagination .prev-title,
.content-wrapper.cc-summary-category .pagination .next-title,
.content-wrapper.cc-team-member .pagination .prev-title,
.content-wrapper.cc-team-member .pagination .next-title {
    display: inline !important;
}


/* AUTHOR BLOCK */

.collection-type-blog .post .author-block {
    display: none;
}

#item-5633e65be4b030c7001f8cdf .article-byline,
#item-5633e65be4b030c7001f8cdf .article-dateline {
    display: none;
}

.collection-type-blog .post .author-block .cc-team-link {
    padding: 3px 12px 5px 32px;
    font-size: 14.5px;
}

.collection-type-blog .post .author-block img {
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
}


/* dont all caps the pagination links */

.pagination ul .prev-title,
.pagination ul .next-title {
    text-transform: capitalize;
}