    .rp-related-posts {
        display: none;
    }
    
    .rp-related-posts.enabled {
        display: block;
    }
    
    .collection-type-blog article .post .article-meta .rp-related-posts a {
        display: block;
    }
    
    .collection-type-blog article .post .article-meta .rp-related-posts .summary-metadata-item--author a {
        color: #b3996f !important;
        text-decoration: underline !important;
    }
    
    .collection-type-blog article .post footer .rp-related-posts .summary-heading {
        display: block;
    }
    
    .collection-type-blog article .post footer .rp-related-posts .summary-heading a {
        cursor: pointer;
    }
    
    .rp-related-posts .summary-metadata-container.summary-metadata-container--debug-content {
        display: block;
        text-align: center;
    }
    
    .rp-related-posts .summary-metadata-item.summary-metadata-item--score {
        display: block;
        font-weight: bold;
    }
    
    .rp-related-posts .summary-metadata-item.summary-metadata-item--score {
        display: none;
    }
    
    .rp-related-posts.debug .summary-metadata-item.summary-metadata-item--score {
        display: block;
    }
    
    .rp-related-posts .summary-metadata-item.summary-metadata-item--score:after {
        display: none;
    }