#CCSummaryBlockLoadMoreLink {
    display: block;
    margin-top: 15px;
    width: 100%;
    text-align: center;
    background-color: #f2f2f2;
    border: solid 1px #f2f2f2;
    height: 48px;
    clear: both;
    padding-top: 11px;
    font-size: 16px;
    text-decoration: none !important;
}

#CCSummaryBlockLoadMoreLink:hover {
    border: solid 1px #ccc;
    cursor: pointer;
}

.summary-block-footer #load-more-left {
    float: left;
    margin-left: 25px;
}

.summary-block-footer #load-more-right {
    float: right;
    margin-right: 25px;
}


/*Hide the author link on the team member pages*/

.cc-summary-team .sqs-block-summary-v2 .summary-block-setting-secondary-metadata-author .summary-item-has-author .summary-metadata--secondary .summary-metadata-item--author {
    display: none;
}


/*Hide the category links on the category pages*/

.cc-summary-category .summary-metadata-item--cats {
    display: none;
}

.cc-summary-cat-link {
    display: inline-block;
    margin-right: 4px;
}

.cc-summary-block.sqs-block-summary-v2 .summary-metadata-item--date:after {
    margin: 0 .1em !important;
}

.cc-team-member-social .facebook,
.cc-team-member-social .twitter,
.cc-team-member-social .instagram,
.cc-team-member-social .rss,
.cc-team-member-social .pinterest,
.cc-team-member-social .itunes {
    display: none;
}

.cc-team-member-social .facebook.facebook-true,
.cc-team-member-social .twitter.twitter-true,
.cc-team-member-social .instagram.instagram-true,
.cc-team-member-social .rss.rss-true,
.cc-team-member-social .pinterest.pinterest-true,
.cc-team-member-social .itunes.itunes-true {
    display: inline-block;
}